input[data-quantity-variant-id="48640031981814"] {
    visibility: hidden;
}
.product-form__input.product-form__input--pill {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.posh-product-social-icons,
.product--text.style_vendor {
  display: none !important;
}

button.checkout {
  background: #f48024 !important;
}

.announcement-bar--inner {
  justify-content: center;
}

.scrolling-text--item {
  flex-direction: row-reverse;
}

.scrolling-text--inner>div {
  flex-direction: column;
}

.scrolling-text {
  justify-content: center;
}

.totals__total,
.totals__total-value,
.tax-note,
.title.title--primary,
.cart-item__name,
.cart-items thead th {
  color: #444249 !important;
}

.banner-special-heading-ai svg {
  margin-top: -20px;
}

.banner-special-heading-ai {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-style: italic;
}

.banner-special-heading-ai em {
  font-family: "poppins", sans-serif;
  font-size: 18px;
  vertical-align: 20px;
  margin-left: -6px;
}

.banner-heading-ai em {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
  vertical-align: 20px;
  margin-left: -6px;
}

@media(max-width:600px) {
  .banner-heading-ai em {
    font-size: 14px;
    vertical-align: 7px;
    margin-left: -2px;
  }
}

.price del {
  color: #ccc;
}

.product-title span {
  font-size: 14px;
  vertical-align: super;
}