.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}
/* .grid.product-grid{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
 */
}